<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entrance</key>
	<dict>
		<key>Name</key>
		<string>Entrance</string>
		<key>Position</key>
		<dict>
			<key>X</key>
			<integer>480</integer>
			<key>Y</key>
			<integer>0</integer>
		</dict>
		<key>Paths</key>
		<dict>
			<key>Bed</key>
			<array>
				<string>RoomCentre</string>
				<string>Bed</string>
			</array>
			<key>RoomCentre</key>
			<array>
				<string>RoomCentre</string>
			</array>
		</dict>
	</dict>
	<key>RoomCentre</key>
	<dict>
		<key>Name</key>
		<string>RoomCentre</string>
		<key>Position</key>
		<dict>
			<key>X</key>
			<integer>480</integer>
			<key>Y</key>
			<integer>120</integer>
		</dict>
		<key>Paths</key>
		<dict>
			<key>Entrance</key>
			<array>
				<string>Entrance</string>
			</array>
		</dict>
	</dict>
	<key>Bed</key>
	<dict>
		<key>Name</key>
		<string>Bed</string>
		<key>Position</key>
		<dict>
			<key>X</key>
			<integer>240</integer>
			<key>Y</key>
			<integer>200</integer>
		</dict>
		<key>Paths</key>
		<dict>
			<key>Entrance</key>
			<array>
				<string>RoomCentre</string>
				<string>Entrance</string>
			</array>
			<key>RoomCentre</key>
			<array>
				<string>RoomCentre</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
